# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

/.dart_tool/
/.dhiwise/
/.idea/
/build/
/linux/
/macos/
/.idx/
/.vscode/
!/pubspec.lock
!/.packages
!/.flutter-plugins-dependencies
!/.flutter-plugins
/ios/Podfile
/ios/Podfile.lock
.vscode/templates

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
