/.dart_tool/
/.dhiwise/
/.idea/
/build/
/linux/
/macos/
/.idx/
/.vscode/
!/pubspec.lock
!/.packages
!/.flutter-plugins-dependencies
!/.flutter-plugins
/ios/Podfile
/ios/Podfile.lock
.vscode/templates
